In [1]:
import uszipcode
from torch import inference_mode
from uszipcode import SearchEngine
import geopy
from geopy.geocoders import Nominatim
import pandas as pd
import os
import csv
from pathlib import Path
import datetime as dt

In [4]:
# Load reduced data source with city and state names
city_file = Path("./Resources/Sale_Prices_City_sample.csv")
city_data = pd.read_csv(city_file, low_memory=False)
city_data

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,264400.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
1,18959,Las Vegas,Nevada,8,244400.0,240100.0,234600.0,227200.0,218100.0,206900.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
2,38128,Dallas,Texas,10,148400.0,142300.0,150900.0,157300.0,164100.0,163400.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
3,10920,Columbus,Ohio,19,116000.0,112100.0,114900.0,113800.0,111900.0,108200.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
4,12455,Louisville,Kentucky,20,124800.0,123500.0,122100.0,121900.0,121500.0,122100.0,...,172700.0,175900.0,176000.0,173900.0,175400.0,174600.0,176600.0,170800.0,173100.0,176200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,27950,Wildwood,New Jersey,3649,268300.0,256500.0,265200.0,289400.0,305100.0,294300.0,...,260100.0,260000.0,267200.0,264100.0,263300.0,266200.0,275300.0,274000.0,264500.0,270200.0
858,36173,Miramar Beach,Florida,3661,342200.0,362900.0,394800.0,434700.0,407400.0,364700.0,...,375700.0,384500.0,379300.0,374100.0,368200.0,370700.0,412500.0,408900.0,409000.0,379500.0
859,21021,Vail,Arizona,3681,280700.0,281200.0,267000.0,258700.0,256600.0,253200.0,...,277600.0,277800.0,283100.0,286700.0,297000.0,297200.0,292100.0,275100.0,265400.0,269300.0
860,25643,Longboat Key,Florida,3690,646800.0,613000.0,546400.0,602800.0,643800.0,696400.0,...,567400.0,554700.0,502000.0,495600.0,535300.0,557900.0,577100.0,557900.0,565600.0,579700.0
861,48710,Arnold,California,3704,360700.0,342700.0,316500.0,332800.0,332300.0,315100.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0

In [5]:
# check to see if there are duplicate city names
city_names_pivot = city_data.pivot_table(columns=['RegionName'], aggfunc='size').sort_values(ascending=False)
city_duplicates_df = city_names_pivot.reset_index()
city_duplicates_df.head(66)

     RegionName  0
0     Lexington  3
1     Westfield  3
2   Springfield  3
3      Franklin  3
4   Saint Cloud  2
..          ... ..
61   Northglenn  1
62    Northport  1
63   Northville  1
64      Norwalk  1
65         Novi  1

[66 rows x 2 columns]

## CREATE ENGINE TO PAIR ZIP CODES W/ USZIPCODE LIBRARY

In [6]:
engine = SearchEngine()
zipcodes_dict = {"RegionID": [], "City": [], "State": [], "Zip Code": []}
bad_cities = {"RegionID": [], "City": [], "State": []}
for i in city_data.index:
    try:
        city=city_data['RegionName'].iloc[i]
        state=city_data['StateName'].iloc[i]
        regionId=city_data['RegionID'].iloc[i]
        zipcodes = engine.by_city_and_state(city=city, state=state)
        for zipcode in zipcodes:
        # Add only the first located zip code for each location to dictionary
            if regionId not in zipcodes_dict["RegionID"]:
                zipcodes_dict["RegionID"].append(regionId)
                zipcodes_dict["City"].append(city)
                zipcodes_dict['State'].append(state)
                zipcodes_dict['Zip Code'].append(zipcode.zipcode)
                print(int(i)+1, zipcode.zipcode, zipcode.major_city, zipcode.state)
    except:
        # Add cities with errors to a dictionary of bad locations
        bad_cities["RegionID"].append(regionId)
        bad_cities["City"].append(city)
        bad_cities["State"].append(state)
        print(f"--------{city}, {state} not found--------")
        pass

Download /Users/aryan_sidh/.uszipcode/simple_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/simple_db.sqlite ...
  1.00 MB downloaded ...
  2.00 MB downloaded ...
  3.00 MB downloaded ...
  4.00 MB downloaded ...
  5.00 MB downloaded ...
  6.00 MB downloaded ...
  7.00 MB downloaded ...
  8.00 MB downloaded ...
  9.00 MB downloaded ...
  10.00 MB downloaded ...
  11.00 MB downloaded ...
  Complete!
1 60601 Chicago IL
2 89101 Las Vegas NV
3 75201 Dallas TX
4 43085 Columbus OH
5 40202 Louisville KY
6 32801 Orlando FL
7 80202 Denver CO
8 20001 Washington DC
9 97201 Portland OR
10 37201 Nashville TN
11 68102 Omaha NE
12 73102 Oklahoma City OK
13 27601 Raleigh NC
14 80902 Colorado Springs CO
15 55401 Minneapolis MN
16 70801 Baton Rouge LA
17 80010 Aurora CO
18 92801 Anaheim CA
19 27395 Greensboro NC
20 40502 Lexington KY
21 55101 Saint Paul MN
22 34102 Naples FL
23 32301 Tallahassee FL
24 89002 Henderson NV
25 99201 Spokane WA
26 32501 Pensacola FL
27 92602 Irvine CA
28 22201 Arlington VA
29 65802 Springfield MO
30 50307 Des Moines IA
31 22191 Woodbridge VA
32 32601 Gainesville FL
33 10701 Yonkers NY
34 60502 Aurora IL
35 28401 Wilmington NC
36 92646 Huntington Beach CA
37 97401 Eugene OR
38 34952 Port Saint Lucie FL
39 72201 Little Rock AR
40 47708 Evansville IN
41 97301 Salem OR
42 97003 Beaverton OR
43 92025 Escondido CA
44 29401 Charleston SC
45 37127 Murfreesboro TN
46 91701 Rancho Cucamonga CA
47 22401 Fredericksburg VA
48 76541 Killeen TX
49 37040 Clarksville TN
50 23075 Henrico VA
51 80722 Atwood CO
52 91766 Pomona CA
53 94085 Sunnyvale CA
54 48906 Lansing MI
55 27511 Cary NC
56 65201 Columbia MO
57 75149 Mesquite TX
58 90501 Torrance CA
59 33755 Clearwater FL
60 90220 Compton CA
61 90301 Inglewood CA
62 66061 Olathe KS
63 80241 Thornton CO
64 75006 Carrollton TX
65 91360 Thousand Oaks CA
66 77581 Pearland TX
67 18101 Allentown PA
68 92562 Murrieta CA
69 73026 Norman OK
70 83651 Nampa ID
71 80030 Westminster CO
72 93611 Clovis CA
73 80002 Arvada CO
74 35401 Tuscaloosa AL
75 91731 El Monte CA
76 93001 Ventura CA
77 75057 Lewisville TX
78 91790 West Covina CA
79 60120 Elgin IL
80 27834 Greenville NC
81 97123 Hillsboro OR
82 54301 Green Bay WI
83 75080 Richardson TX
84 19380 West Chester PA
85 90650 Norwalk CA
86 98201 Everett WA
87 33569 Riverview FL
88 95687 Vacaville CA
89 81501 Grand Junction CO
90 94401 San Mateo CA
91 37064 Franklin TN
92 29072 Lexington SC
93 27514 Chapel Hill NC
94 83642 Meridian ID
95 66044 Lawrence KS
--------Highlands Ranch, Colorado not found--------
97 80631 Greeley CO
98 77573 League City TX
99 92691 Mission Viejo CA
100 94550 Livermore CA
101 23701 Portsmouth VA
102 90250 Hawthorne CA
103 37601 Johnson City TN
104 28801 Asheville NC
105 32703 Apopka FL
106 97501 Medford OR
107 75002 Allen TX
108 02740 New Bedford MA
109 01901 Lynn MA
110 37311 Cleveland TN
111 23185 Williamsburg VA
112 64063 Lees Summit MO
113 30263 Newnan GA
114 48187 Canton MI
115 86001 Flagstaff AZ
116 91708 Chino CA
117 34945 Fort Pierce FL
118 02720 Fall River MA
119 92660 Newport Beach CA
120 60085 Waukegan IL
121 78660 Pflugerville TX
122 55796 Winton MN
123 80501 Longmont CO
124 07011 Clifton NJ
125 99201 Spokane WA
126 97030 Gresham OR
127 48083 Troy MI
128 37660 Kingsport TN
129 02169 Quincy MA
130 84401 Ogden UT
131 22554 Stafford VA
132 93010 Camarillo CA
133 48331 Farmington MI
134 92307 Apple Valley CA
135 32765 Oviedo FL
136 29464 Mount Pleasant SC
138 91722 Covina CA
139 91784 Upland CA
140 32725 Deltona FL
141 90745 Carson CA
142 17601 Lancaster PA
143 55007 Brook Park MN
144 94040 Mountain View CA
145 27502 Apex NC
146 77459 Missouri City TX
147 77406 Richmond TX
148 99301 Pasco WA
149 85122 Casa Grande AZ
150 94582 San Ramon CA
151 12601 Poughkeepsie NY
--------Plymouth, Minnesota not found--------
153 18015 Bethlehem PA
154 39042 Brandon MS
155 92630 Lake Forest CA
156 10801 New Rochelle NY
157 34683 Palm Harbor FL
158 48033 Southfield MI
159 28115 Mooresville NC
160 91709 Chino Hills CA
161 08723 Brick NJ
162 30024 Suwanee GA
163 23059 Glen Allen VA
164 75022 Flower Mound TX
165 48327 Waterford MI
166 47906 West Lafayette IN
167 92886 Yorba Linda CA
168 60440 Bolingbrook IL
169 48197 Ypsilanti MI
170 34769 Saint Cloud FL
171 33410 Palm Beach Gardens FL
172 94501 Alameda CA
173 34285 Venice FL
174 32922 Cocoa FL
175 94301 Palo Alto CA
176 32570 Milton FL
177 97526 Grants Pass OR
178 70062 Kenner LA
179 55311 Maple Grove MN
180 97330 Corvallis OR
181 32162 The Villages FL
--------Eagan, Minnesota not found--------
183 60462 Orland Park IL
184 93401 San Luis Obispo CA
185 76180 North Richland Hills TX
186 96706 Ewa Beach HI
187 30214 Fayetteville GA
188 90660 Pico Rivera CA
189 48640 Midland MI
190 37075 Hendersonville TN
191 55044 Lakeville MN
192 33594 Valrico FL
193 92677 Laguna Niguel CA
194 91770 Rosemead CA
195 44256 Medina OH
196 20190 Reston VA
197 89701 Carson City NV
198 90640 Montebello CA
199 56301 Saint Cloud MN
200 55344 Eden Prairie MN
201 92672 San Clemente CA
202 80020 Broomfield CO
203 56572 Pelican Rapids MN
204 56011 Belle Plaine MN
205 32127 Port Orange FL
206 90631 La Habra CA
207 55306 Burnsville MN
208 34637 Land O Lakes FL
209 91754 Monterey Park CA
210 97321 Albany OR
211 50265 West Des Moines IA
212 95020 Gilroy CA
213 43130 Lancaster OH
214 45069 West Chester OH
215 06010 Bristol CT
216 37087 Lebanon TN
217 91702 Azusa CA
218 90247 Gardena CA
219 22003 Annandale VA
220 60076 Skokie IL
221 95014 Cupertino CA
222 25401 Martinsburg WV
223 28078 Huntersville NC
224 48067 Royal Oak MI
225 63376 Saint Peters MO
226 54901 Oshkosh WI
227 33122 Miami FL
228 60187 Wheaton IL
229 06040 Manchester CT
--------Bartlett, Tennessee not found--------
231 07083 Union NJ
232 70053 Gretna LA
233 08854 Piscataway NJ
234 46526 Goshen IN
235 44276 Sterling OH
236 60402 Berwyn IL
237 46307 Crown Point IN
238 73852 Mooreland OK
239 01013 Chicopee MA
240 08527 Jackson NJ
241 30052 Loganville GA
242 59601 Helena MT
243 07470 Wayne NJ
244 43701 Zanesville OH
245 02188 Weymouth MA
246 20151 Chantilly VA
247 22101 Mc Lean VA
248 37813 Morristown TN
249 30240 Lagrange GA
250 76039 Euless TX
251 99352 Richland WA
252 48374 Novi MI
253 91740 Glendora CA
254 94506 Danville CA
255 34737 Howey In The Hills FL
256 32750 Longwood FL
257 93215 Delano CA
258 94546 Castro Valley CA
259 14075 Hamburg NY
260 59901 Kalispell MT
261 91745 Hacienda Heights CA
262 66215 Lenexa KS
263 23832 Chesterfield VA
264 07030 Hoboken NJ
265 75115 Desoto TX
266 92399 Yucaipa CA
267 70433 Covington LA
268 38555 Crossville TN
269 37167 Smyrna TN
270 34711 Clermont FL
271 61761 Normal IL
272 60148 Lombard IL
--------Kentwood, Michigan not found--------
274 19054 Levittown PA
275 30019 Dacula GA
276 60477 Tinley Park IL
277 50021 Ankeny IA
278 06497 Stratford CT
279 92870 Placentia CA
280 95023 Hollister CA
281 71291 West Monroe LA
282 70072 Marrero LA
283 27529 Garner NC
284 55329 Eden Valley MN
285 06108 East Hartford CT
286 80022 Commerce City CO
287 96734 Kailua HI
288 75165 Waxahachie TX
289 75068 Little Elm TX
290 90638 La Mirada CA
291 90630 Cypress CA
292 37122 Mount Juliet TN
293 90703 Cerritos CA
294 95658 Newcastle CA
295 92656 Aliso Viejo CA
--------Milwaukie, Oregon not found--------
297 75104 Cedar Hill TX
298 60169 Hoffman Estates IL
299 96744 Kaneohe HI
300 94568 Dublin CA
301 97470 Roseburg OR
302 74017 Claremore OK
303 47025 Lawrenceburg IN
304 49002 Portage MI
--------Murray, Utah not found--------
306 80120 Littleton CO
307 27284 Kernersville NC
308 75088 Rowlett TX
309 55007 Brook Park MN
310 54982 Wautoma WI
311 07003 Bloomfield NJ
312 38017 Collierville TN
313 48066 Roseville MI
314 14850 Ithaca NY
315 55345 Minnetonka MN
316 60126 Elmhurst IL
--------Dunwoody, Georgia not found--------
318 31313 Hinesville GA
319 60115 Dekalb IL
320 75098 Wylie TX
321 96707 Kapolei HI
322 30809 Evans GA
323 96720 Hilo HI
--------Evesham Township, New Jersey not found--------
325 77449 Katy TX
326 27526 Fuquay Varina NC
327 23690 Yorktown VA
328 08807 Bridgewater NJ
329 27360 Thomasville NC
330 70448 Mandeville LA
331 61265 Moline IL
332 02474 Arlington MA
333 40324 Georgetown KY
334 02630 Barnstable MA
335 11772 Patchogue NY
336 91748 Rowland Heights CA
337 86314 Prescott Valley AZ
338 45014 Fairfield OH
339 22015 Burke VA
340 02703 Attleboro MA
341 94560 Newark CA
342 40356 Nicholasville KY
343 11757 Lindenhurst NY
344 34737 Howey In The Hills FL
345 01201 Pittsfield MA
346 28560 New Bern NC
347 91016 Monrovia CA
348 70769 Prairieville LA
349 37027 Brentwood TN
350 03301 Concord NH
351 63005 Chesterfield MO
352 97034 Lake Oswego OR
353 11801 Hicksville NY
354 32746 Lake Mary FL
355 28376 Raeford NC
356 32955 Rockledge FL
357 60188 Carol Stream IL
358 60012 Crystal Lake IL
359 08054 Mount Laurel NJ
360 37743 Greeneville TN
361 63026 Fenton MO
362 07036 Linden NJ
363 01085 Westfield MA
364 50322 Urbandale IA
365 13088 Liverpool NY
366 48167 Northville MI
367 08902 North Brunswick NJ
368 60101 Addison IL
369 70737 Gonzales LA
370 01453 Leominster MA
371 07416 Franklin NJ
372 93446 Paso Robles CA
373 63011 Ballwin MO
374 91744 La Puente CA
375 07746 Marlboro NJ
376 07666 Teaneck NJ
377 11003 Elmont NY
378 53005 Brookfield WI
379 85351 Sun City AZ
380 60107 Streamwood IL
381 90275 Rancho Palos Verdes CA
382 60060 Mundelein IL
383 53146 New Berlin WI
384 32707 Casselberry FL
385 38138 Germantown TN
386 60103 Bartlett IL
387 84660 Spanish Fork UT
388 37620 Bristol TN
389 84065 Riverton UT
390 11704 West Babylon NY
391 76513 Belton TX
392 01801 Woburn MA
393 80601 Brighton CO
394 68046 Papillion NE
395 63385 Wentzville MO
396 30736 Ringgold GA
397 52302 Marion IA
398 45342 Miamisburg OH
399 92253 La Quinta CA
400 91763 Montclair CA
401 94044 Pacifica CA
402 24153 Salem VA
403 60068 Park Ridge IL
404 63010 Arnold MO
405 48170 Plymouth MI
406 34761 Ocoee FL
407 43551 Perrysburg OH
408 76053 Hurst TX
409 80110 Englewood CO
--------Northglenn, Colorado not found--------
411 53531 Deerfield WI
412 35473 Northport AL
413 44814 Berlin Heights OH
414 02184 Braintree MA
415 97128 Mcminnville OR
416 84067 Roy UT
417 06611 Trumbull CT
418 91711 Claremont CA
419 91001 Altadena CA
420 11554 East Meadow NY
421 21784 Sykesville MD
422 07676 Township Of Washington NJ
423 30813 Grovetown GA
424 53051 Menomonee Falls WI
425 55355 Litchfield MN
426 46123 Avon IN
427 64780 Rockville MO
428 18301 East Stroudsburg PA
429 93060 Santa Paula CA
430 97756 Redmond OR
431 91780 Temple City CA
432 56284 Renville MN
433 37086 La Vergne TN
434 45103 Batavia OH
435 45373 Troy OH
436 01810 Andover MA
437 55016 Cottage Grove MN
438 37160 Shelbyville TN
439 21136 Reisterstown MD
440 43147 Pickerington OH
441 95030 Los Gatos CA
442 92311 Barstow CA
443 22079 Lorton VA
444 45814 Arlington OH
445 94523 Pleasant Hill CA
446 43065 Powell OH
447 46368 Portage IN
448 95901 Marysville CA
449 39110 Madison MS
450 55076 Inver Grove Heights MN
451 02368 Randolph MA
452 90266 Manhattan Beach CA
453 02472 Watertown MA
454 21144 Severn MD
455 66206 Leawood KS
456 30542 Flowery Branch GA
457 34688 Tarpon Springs FL
458 81301 Durango CO
459 22551 Spotsylvania VA
460 93561 Tehachapi CA
461 81401 Montrose CO
462 02420 Lexington MA
463 20155 Gainesville VA
464 43560 Sylvania OH
--------Ken Caryl, Colorado not found--------
466 02038 Franklin MA
--------Cottonwood Heights, Utah not found--------
468 48178 South Lyon MI
469 13440 Rome NY
470 21113 Odenton MD
471 48021 Eastpointe MI
472 29063 Irmo SC
473 21133 Randallstown MD
474 44039 North Ridgeville OH
475 21075 Elkridge MD
476 11510 Baldwin NY
477 28104 Matthews NC
478 72120 Sherwood AR
479 53090 West Bend WI
480 93422 Atascadero CA
481 15102 Bethel Park PA
482 07753 Neptune NJ
483 98467 University Place WA
484 39208 Pearl MS
485 28607 Boone NC
486 55304 Andover MN
487 16652 Huntingdon PA
488 77536 Deer Park TX
489 44070 North Olmsted OH
490 60714 Niles IL
491 22980 Waynesboro VA
--------Security-Widefield, Colorado not found--------
494 27302 Mebane NC
495 35007 Alabaster AL
496 35593 Vina AL
497 94010 Burlingame CA
498 21234 Parkville MD
499 14120 North Tonawanda NY
500 46074 Westfield IN
501 78108 Cibolo TX
502 34748 Leesburg FL
503 21009 Abingdon MD
504 22630 Front Royal VA
505 07090 Westfield NJ
506 44281 Wadsworth OH
507 01845 North Andover MA
508 80033 Wheat Ridge CO
509 01876 Tewksbury MA
510 39564 Ocean Springs MS
511 02492 Needham MA
512 34450 Inverness FL
513 78640 Kyle TX
514 20186 Warrenton VA
515 97068 West Linn OR
516 93662 Selma CA
517 49464 Zeeland MI
518 27012 Clemmons NC
519 65721 Ozark MO
520 94070 San Carlos CA
521 13039 Cicero NY
522 76092 Southlake TX
523 64068 Liberty MO
524 70068 La Place LA
525 49028 Bronson MI
526 46530 Granger IN
527 56401 Brainerd MN
528 65714 Nixa MO
529 16066 Cranberry Township PA
530 48195 Southgate MI
531 40065 Shelbyville KY
532 11720 Centereach NY
533 93420 Arroyo Grande CA
534 06066 Vernon Rockville CT
535 02919 Johnston RI
536 34690 Holiday FL
537 37659 Jonesborough TN
538 97140 Sherwood OR
539 96150 South Lake Tahoe CA
540 06512 East Haven CT
541 64659 Meadville MO
542 85340 Litchfield Park AZ
543 97132 Newberg OR
544 49341 Rockford MI
545 84074 Tooele UT
546 92860 Norco CA
547 21771 Mount Airy MD
548 97086 Happy Valley OR
549 07110 Nutley NJ
550 01757 Milford MA
551 56045 Hollandale MN
552 34990 Palm City FL
553 01060 Northampton MA
554 95961 Olivehurst CA
555 02072 Stoughton MA
556 97502 Central Point OR
557 23834 Colonial Heights VA
558 76548 Harker Heights TX
559 32533 Cantonment FL
560 30746 Sugar Valley GA
561 90680 Stanton CA
562 80817 Fountain CO
563 98370 Poulsbo WA
564 02186 Milton MA
565 48101 Allen Park MI
566 56540 Fertile MN
567 01923 Danvers MA
568 94585 Suisun City CA
569 02176 Melrose MA
570 92694 Ladera Ranch CA
571 27540 Holly Springs NC
572 13104 Manlius NY
--------Fitchburg, Wisconsin not found--------
574 21146 Severna Park MD
575 98382 Sequim WA
576 37172 Springfield TN
577 07652 Paramus NJ
578 84044 Magna UT
579 60156 Lake In The Hills IL
580 64093 Warrensburg MO
581 97062 Tualatin OR
582 37055 Dickson TN
583 07430 Mahwah NJ
584 55024 Farmington MN
585 60142 Huntley IL
586 77532 Crosby TX
587 49428 Jenison MI
588 97116 Forest Grove OR
589 01880 Wakefield MA
590 64443 Easton MO
591 32578 Niceville FL
--------Shoreview, Minnesota not found--------
593 28734 Franklin NC
594 22025 Dumfries VA
595 43537 Maumee OH
596 32132 Edgewater FL
597 60091 Wilmette IL
598 27560 Morrisville NC
599 28031 Cornelius NC
600 32789 Winter Park FL
602 91945 Lemon Grove CA
603 07480 West Milford NJ
604 21627 Crocheron MD
605 81212 Canon City CO
606 94510 Benicia CA
607 11784 Selden NY
608 03054 Merrimack NH
609 07450 Ridgewood NJ
610 37355 Manchester TN
611 86326 Cottonwood AZ
612 80439 Evergreen CO
613 37771 Lenoir City TN
614 84054 North Salt Lake UT
615 24551 Forest VA
616 34491 Summerfield FL
617 97520 Ashland OR
618 70791 Zachary LA
619 32566 Navarre FL
620 43004 Blacklick OH
621 48864 Okemos MI
622 19454 North Wales PA
623 40403 Berea KY
624 03051 Hudson NH
625 53108 Caledonia WI
626 24557 Gretna VA
--------Columbine, Colorado not found--------
628 60510 Batavia IL
629 48380 Milford MI
630 17201 Chambersburg PA
631 20855 Derwood MD
632 97420 Coos Bay OR
633 49459 Walkerville MI
634 94530 El Cerrito CA
--------Carney, Maryland not found--------
636 19064 Springfield PA
637 32043 Green Cove Springs FL
638 84005 Eagle Mountain UT
639 63052 Imperial MO
640 60053 Morton Grove IL
641 61571 Washington IL
642 37388 Tullahoma TN
643 30528 Cleveland GA
644 17522 Ephrata PA
645 20659 Mechanicsville MD
646 28572 Pink Hill NC
647 15090 Wexford PA
648 37865 Seymour TN
649 55309 Big Lake MN
650 20169 Haymarket VA
651 92780 Tustin CA
652 37148 Portland TN
653 21114 Crofton MD
654 08055 Medford NJ
655 91302 Calabasas CA
656 55316 Champlin MN
657 93041 Port Hueneme CA
658 55068 Rosemount MN
659 95620 Dixon CA
660 41005 Burlington KY
661 91384 Castaic CA
662 20832 Olney MD
663 32763 Orange City FL
--------Anthem, Arizona not found--------
665 60178 Sycamore IL
666 46158 Mooresville IN
667 60441 Lockport IL
668 04106 South Portland ME
669 89410 Gardnerville NV
671 02021 Canton MA
672 13630 De Kalb Junction NY
673 80132 Monument CO
674 49315 Byron Center MI
675 60561 Darien IL
676 11530 Garden City NY
677 40031 La Grange KY
678 77586 Seabrook TX
679 06437 Guilford CT
680 44138 Olmsted Falls OH
681 31558 Saint Marys GA
682 29045 Elgin SC
683 56073 New Ulm MN
684 29316 Boiling Springs SC
685 63043 Maryland Heights MO
686 92082 Valley Center CA
688 60181 Villa Park IL
689 98671 Washougal WA
690 08869 Raritan NJ
691 92371 Phelan CA
692 90745 Carson CA
693 29142 Santee SC
694 72113 Maumelle AR
695 75189 Royse City TX
696 37934 Farragut TN
697 91008 Duarte CA
698 28532 Havelock NC
699 94547 Hercules CA
700 08091 West Berlin NJ
701 03110 Bedford NH
702 74037 Jenks OK
703 03801 Portsmouth NH
704 25414 Charles Town WV
705 33573 Sun City Center FL
706 84306 Collinston UT
707 84075 Syracuse UT
--------Mountain Brook, Alabama not found--------
709 83634 Kuna ID
710 21037 Edgewater MD
711 33852 Lake Placid FL
712 20646 La Plata MD
713 37178 Tennessee Ridge TN
714 55075 South Saint Paul MN
715 07871 Sparta NJ
716 80026 Lafayette CO
718 33040 Key West FL
719 48820 Dewitt MI
720 48169 Pinckney MI
721 70785 Walker LA
722 30512 Blairsville GA
723 41091 Union KY
724 40014 Crestwood KY
--------Corinth, Texas not found--------
726 75048 Sachse TX
727 35124 Pelham AL
728 93023 Ojai CA
729 78148 Universal City TX
730 65606 Alton MO
731 46706 Auburn IN
732 41018 Erlanger KY
733 20706 Lanham MD
734 31005 Bonaire GA
735 02536 East Falmouth MA
736 07960 Morristown NJ
737 93444 Nipomo CA
738 43616 Oregon OH
739 50125 Indianola IA
740 91214 La Crescenta CA
741 80027 Louisville CO
742 08028 Glassboro NJ
743 44116 Rocky River OH
744 30277 Sharpsburg GA
745 65738 Republic MO
746 17013 Carlisle PA
747 32778 Tavares FL
748 44137 Maple Heights OH
749 44142 Brookpark OH
750 94564 Pinole CA
751 44017 Berea OH
752 76431 Chico TX
753 73008 Bethany OK
754 31008 Byron GA
755 04072 Saco ME
756 48433 Flushing MI
757 20657 Lusby MD
758 94563 Orinda CA
--------Sherrelwood, Colorado not found--------
760 61611 East Peoria IL
761 22963 Palmyra VA
762 80516 Erie CO
763 78635 Hye TX
764 22066 Great Falls VA
765 74021 Collinsville OK
--------Tinton Falls, New Jersey not found--------
767 80831 Peyton CO
768 01950 Newburyport MA
--------Bon Air, Virginia not found--------
771 24281 Rose Hill VA
772 32561 Gulf Breeze FL
773 18847 Susquehanna PA
774 37862 Sevierville TN
775 94507 Alamo CA
776 84401 Ogden UT
777 97103 Astoria OR
778 16001 Butler PA
779 50131 Johnston IA
780 35080 Helena AL
781 41048 Hebron KY
782 30548 Hoschton GA
783 27592 Willow Spring NC
786 84045 Saratoga Springs UT
787 46140 Greenfield IN
--------Texas, Michigan not found--------
789 38016 Cordova TN
790 63367 Lake Saint Louis MO
791 29585 Pawleys Island SC
792 32937 Satellite Beach FL
793 08012 Blackwood NJ
794 84651 Payson UT
795 44470 Southington OH
796 80550 Windsor CO
797 44720 North Canton OH
798 34275 Nokomis FL
799 96022 Cottonwood CA
800 32541 Destin FL
801 84401 Ogden UT
802 85087 New River AZ
803 85253 Paradise Valley AZ
804 37341 Harrison TN
805 02806 Barrington RI
--------Lyndhurst, Ohio not found--------
807 29369 Moore SC
808 94517 Clayton CA
809 19320 Coatesville PA
810 76036 Crowley TX
811 37150 Red Boiling Springs TN
--------Lakeside, Virginia not found--------
813 37073 Greenbrier TN
814 92314 Big Bear City CA
815 97355 Lebanon OR
816 28374 Pinehurst NC
817 95451 Kelseyville CA
--------Crestwood, Missouri not found--------
819 35071 Gardendale AL
820 49684 Traverse City MI
--------Country Walk, Florida not found--------
822 19335 Downingtown PA
823 19428 Conshohocken PA
825 30620 Bethlehem GA
826 33455 Hobe Sound FL
827 78873 Leakey TX
828 07840 Hackettstown NJ
829 85118 Gold Canyon AZ
830 33480 Palm Beach FL
831 08096 Woodbury NJ
832 37377 Signal Mountain TN
833 72719 Centerton AR
834 38060 Oakland TN

In [7]:
# Create a dataframe of the bad locations to see how many we're removing from the datasource
bad_cities_df = pd.DataFrame(bad_cities, columns=["RegionID", "City", "State"])
bad_cities_df

    RegionID                City       State
0      38992     Highlands Ranch    Colorado
1      26561            Plymouth   Minnesota
2      17845               Eagan   Minnesota
3      10264            Bartlett   Tennessee
4      25383            Kentwood    Michigan
5      12751           Milwaukie      Oregon
6       6102              Murray        Utah
7      49352            Dunwoody     Georgia
8      51952    Evesham Township  New Jersey
9      26213          Northglenn    Colorado
10    119842           Ken Caryl    Colorado
11     14825  Cottonwood Heights        Utah
12    396536  Security-Widefield    Colorado
13     11441           Fitchburg   Wisconsin
14     54410           Shoreview   Minnesota
15    119404           Columbine    Colorado
16    157222              Carney    Maryland
17      3418              Anthem     Arizona
18     26027      Mountain Brook     Alabama
19     51547             Corinth       Texas
20    120381         Sherrelwood    Colorado
21     54702        Tinton Falls  New Jersey
22     35084             Bon Air    Virginia
23    397390               Texas    Michigan
24      8823           Lyndhurst        Ohio
25     32403            Lakeside    Virginia
26     29879           Crestwood    Missouri
27    124049        Country Walk     Florida

In [8]:
# Create new dataframe from dictionary of locations with zip codes
zipcodes_df = pd.DataFrame(zipcodes_dict, columns=['RegionID', 'City', 'State', 'Zip Code'])
zipcodes_df = zipcodes_df.drop_duplicates(subset='Zip Code', keep='first')
zipcodes_df

     RegionID           City       State Zip Code
0       17426        Chicago    Illinois    60601
1       18959      Las Vegas      Nevada    89101
2       38128         Dallas       Texas    75201
3       10920       Columbus        Ohio    43085
4       12455     Louisville    Kentucky    40202
..        ...            ...         ...      ...
817     27950       Wildwood  New Jersey    08260
818     36173  Miramar Beach     Florida    32550
819     21021           Vail     Arizona    85641
820     25643   Longboat Key     Florida    34228
821     48710         Arnold  California    95223

[816 rows x 4 columns]

In [10]:
# create temporary csv to feed into geocoding script
zipcodes_df.to_csv('./Resources/zipcodes.csv', index=False)

In [11]:
# check to see if there are duplicate zip codes
# zipcodes_df = pd.read_csv('./resources/zipcodes.csv')
zipcodes_pivot = zipcodes_df.pivot_table(columns=['Zip Code'], aggfunc='size').sort_values(ascending=False)
zipcodes_dup_df = zipcodes_pivot.reset_index()
zipcodes_dup_df.head(10)

  Zip Code  0
0    01013  1
1    70433  1
2    66044  1
3    66061  1
4    66206  1
5    66215  1
6    68046  1
7    68102  1
8    70053  1
9    70062  1

In [28]:
# zipcodes_df = zipcodes_df.drop_duplicates(subset='Zip Code', keep='first')
# zipcodes_df